fastapi
uvicorn[standard]
langchain
langchain-google-genai
langchain-experimental
langchain-community
langchain-huggingface
huggingface-hub
sentence-transformers
chromadb
pymysql
python-dotenv
mariadb-connector-c
mariadb
tensorflow
torch
slowapi